<div style="border: 1px #ccc solid;list-style-type:none;padding:15px;margin-bottom:5px;margin-left: 20px;margin-right:20px;margin-top:20px;background:#fdf6e5">
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="contents" ></label>
        {{input value=contents id="newcontents" placeholder="contents"}}
        <label for="author" ></label>
        {{input value=author id="newauthor" placeholder="author"}}
      </div>
      <button {{action 'newAnswer'}}>Save</button>
    </form>
  </div>
</div>
