<div style="padding-left:20px;padding-top:20px">
<h4>Answers ({{commentCount}})</h4>
<ul>
  {{#each question.answers as |answer|}}
    <li style="margin-top:10px">
        {{answer.contents}}<br>
        {{answer.author}}
    </li>
  {{/each}}
</ul>
</div>
