<nav class="navbar navbar-light bg-faded" style="margin-bottom:0px" style="background:#98BA98">
  {{#link-to 'index'}}<a class="navbar-brand" style="margin-left:10px;color:#000;font-size:2.3em;">Question & Answer</a>{{/link-to}}
  <ul class="nav navbar-nav" style="margin-left:8%;text-transform:uppercase;font-size: .83em;font-family:Helvetica,Arial,sans-serif;">
    <!-- <li class="nav-item active">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li> -->
  </ul>
  <span style="float:right;background:darkgray;padding:5px;border-radius:15px;padding-left:10px;padding-right:10px;margin-right:20px;margin-top:10px;box-shadow: inset 0px 0px 1px 1px #999">{{#link-to 'view-cart'}}<a style="color:#fff">Reading List - ({{cart-counter}}) Items </a>{{/link-to}}</span>
</nav>
{{outlet}}
